<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
    <body>
        <div class="container-fluid text-center">
            <h2 class="mt-5 mb-5">Manage Members</h2>
        </div>
        <div>
            <a class="h5 ml-3" th:href="@{/users/new}">Add New Member</a>
        </div>

        <div th:if="${message}" class="alert alert-success text-center" style="margin: 1rem">
            [[${message}]]
        </div>

        <div class="col-lg-10">
            <table class="table table-bordered mla-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${listUsers}">
                    <tr>
                        <td class="text-center">[[${user.id}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>
                            <a class="h4 mr-3 text-center" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                            <a class="h4 text-center" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </body>
</html>